*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #000000;
  color: #ffffff;
}

img {
  max-width: 100%;
}

button,
a {
  font: inherit;
}
